S3_BUCKET=replace-me
S3_ACCESS_KEY_ID=replace-me
S3_SECRET_ACCESS_KEY=replace-me
S3_REGION=eu-central-1
S3_ENDPOINT_URL=
SENSOR_CONFIG_JSON=[{"id":"system_1","name":"System 1","prefix":"sensor/system-1/"}]
DATA_TIMEZONE=Asia/Jerusalem
STALE_AFTER_HOURS=2
CHECK_INTERVAL_MINUTES=10
ALERT_WEBHOOK_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=replace-me
